.galleryContainer {
  position: relative;
  height: 900px;
  width: 100vw;
  min-width: 800px;
  overflow: hidden;
  // margin: 0 10px;
  @media (max-width:1000px){
    width: 1000px;
    height: 800px;
    min-width: 600px;
  }
  @media (max-width:600px){
    width: 800px;
    height: 600px;
    min-width: 600px;
    max-width: 600px;
  }
}

.galleryGradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 48px;
  z-index: 10;
}

.galleryGradientLeft {
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #060606 100%);
}

.galleryGradientRight {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #060606 100%);
}

.galleryContent {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  perspective: 1200px;
  transform-style: preserve-3d;
  @media (max-width:1000px){
    perspective: 1400px;
  }
  @media (max-width:500px){
    perspective: 1500px;
  }
}

.galleryTrack {
  display: flex;
  height: auto;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  cursor: grab;
  transform-style: preserve-3d;
  width: 100%;
}

.galleryItem {
  position: absolute;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 8%;
  backface-visibility: hidden;
  // margin: 20px;
}

.projectCard {
  background: linear-gradient(to right, rgba(97, 38, 38, 0.848) 0%, #060606 100%);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(82, 60, 60, 0.697);
  text-align: center;
  transition: transform 0.4s ease-in-out;
  min-width: 200px;
  min-height: 400px;
  @media (max-width:1000px){
    min-height: 300px;
  }
  @media (max-width:768px){
    min-height: 200px;
    padding: 20px;
  }
}

.projectCard:hover {
  transform: scale(1.05);
}

.projectTitle {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif; // Use Poppins for sleek titles
  color: #e65b5bda;
  text-transform: capitalize;
  letter-spacing: 1px;
  @media (max-width:1000px){
    font-size: 1.2rem;
    letter-spacing: 0px;
  }
  @media (max-width:768px){
    font-size: 1rem;
    letter-spacing: 0px;
  }
}

.projectDescription {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Inter", sans-serif; // Inter is great for readability
  color: #cccccc;
  text-align: justify;
  line-height: 1.6;
  @media (max-width:1000px){
    font-size: 0.7rem;
    letter-spacing: 0px;
  }
  @media (max-width:768px){
    font-size: 0.6rem;
    letter-spacing: 0px;
  }
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  justify-content: center;
}

.techBadge {
    background: rgba(106, 45, 218, 0.573);
    font-size: 0.75rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif; // Montserrat for badges
    padding: 6px 12px;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #fff;
    @media (max-width:1000px){
      font-size: 0.5rem;
      letter-spacing: 0px;
      padding: 6px 12px;
    }
    @media (max-width:768px){
      font-size: 0.5rem;
      letter-spacing: 0px;
      padding: 3px 6px;
    }
  }
  .stack1 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 15px;
    justify-content: center;
  }

  .techBadge1 {
    text-decoration: none;
    background: rgba(100, 21, 21, 0.573);
    font-size: 0.75rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif; // Montserrat for badges
    padding: 6px 12px;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #fff;
    @media (max-width:1000px){
      font-size: 0.5rem;
      letter-spacing: 0px;
      padding: 6px 12px;
    }
    @media (max-width:768px){
      font-size: 0.5rem;
      letter-spacing: 0px;
      padding: 3px 6px;
    }
  }
  .linkArrow {
    margin-left: 5px;
    font-size: 12px;
    transition: transform 0.2s ease-in-out;
    
    .techBadge:hover & {
      transform: translateY(-2px);
    }
    @media (max-width:1000px){
      font-size: 10px;
    }
    @media (max-width:768px){
      font-size: 8px;
    }
  }
@media (max-width: 768px) {
  .galleryItem {
    padding: 6%;
  }
  .projectCard {
    width: 250px;
  }
}
