.container {
  display: flex;
  flex-direction: column;
//   gap: 20px;
//   padding: 40px 20px;
  // max-width: 1000px;
  margin: 0 auto;
  position: relative;
  align-items: center;
}
.gallery {
    margin-top: -50px;
    z-index: 1;
}
