.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

// Timeline Item
.timelineItem {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}


// Line & Number Container
.lineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50px;
  justify-content: center; // Ensures the index stays centered
}

// Vertical Line
// .line {
//   width: 2px;
//   height: 100%;
//   background: linear-gradient(to bottom, #6a11cb, #2575fc);
//   position: absolute;
// }

// Number in the Middle of the Line
.index {
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  z-index: 10;
  background: #000; // Makes sure the number is visible against the line
  padding: 5px 10px;
  border-radius: 6px;
}

// Content Box
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
