@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.dockOuter {
  margin: 0 8px;
  display: flex;
  max-width: 100%;
  align-items: center;
}

.dockPanel {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  width: fit-content;
  gap: 16px;
  border-radius: 16px;
  background-color: #060606;
  border: 1px solid #222;
  padding: 0 8px 8px;
  @media (max-width: 768px) {
    gap: 9.6px;
    padding: 0px;
  }

}

.dockItem {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #0b0710;
  border: 1px solid #222;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  outline: none;
}

.dockIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f45cf;
}

.dockLabel {
  position: absolute;
  top: -24px;
  left: 50%;
  width: fit-content;
  white-space: pre;
  border-radius: 6px;
  // border: 1px solid #222;
  background-color: #06060600;
  padding: 2px 8px;
  font-size: 16px;
  color: #979797;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
}
