.galleryContainer {
  position: relative;
  height: 700px;
  width: 1900px;
  min-width: 800px;
  overflow: hidden;
}

.galleryGradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 48px;
  z-index: 10;
}

.galleryGradientLeft {
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #060606 100%);
}

.galleryGradientRight {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #060606 100%);
}

.galleryContent {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.galleryTrack {
  display: flex;
  height: auto;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  cursor: grab;
  transform-style: preserve-3d;
  width: 100%;
}

.galleryItem {
  position: absolute;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 8%;
  backface-visibility: hidden;
}

.projectCard {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 600px;
}

.projectCard:hover {
  transform: scale(1.05);
}

.projectTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.projectDescription {
  font-size: 1rem;
  color: #cccccc;
  text-align: justify;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  justify-content: center;
}

.techBadge {
  background: #ffcc00;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #000;
  font-weight: bold;
}

@media (max-width: 768px) {
  .galleryItem {
    padding: 6%;
  }
  .projectCard {
    width: 250px;
  }
}
