@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

.container {
  display: flex;
  height: 100%; /* Full viewport height */
  width: 100%;
  justify-content: space-between;
  padding: 32px;

  @media (max-width: 769px) {
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin-top: -100px;
  }
  @media (max-width: 468px) {
    flex-direction: column; /* Stack sections on smaller screens */
    align-items: center;
    padding: 16px;
  }
}

.leftSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: 769px) {
    flex: 1;
    z-index: -1;
    margin-top: 50px;
  }
  @media (max-width: 468px) {
    flex: 1;
    z-index: -1;
    margin-top: 250px;
  }
  @media (max-width: 380px) {
    flex: 1;
    z-index: -1;
    margin-top: 150px;
  }
}

.rightSection {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Align text vertically */
  text-align: center;
  padding: 32px;
  z-index: 1;
  @media (max-width: 1030px) {
    flex: 1;
    height: auto;
    padding: 16px;
  }
  @media (max-width: 769px) {
    flex: 1;
    height: auto;
    padding: 16px;
    margin-top: 250px;
  }

  @media (max-width: 468px) {
    flex: 1;
    height: auto;
    padding: 16px;
    margin-top: 210px;
  }
  @media (max-width: 378px) {
    flex: 1;
    height: auto;
    padding: 16px;
    margin-top: 170px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12.8px;
}

.name {
  font-size: 56px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;

  @media (max-width: 1030px) {
    font-size: 35.2px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.highlighted {
  color: #b784f4; /* Purple highlight */
}

.jobTitleSection {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Prevents breaking into new lines */
  gap: 16px; /* Adjusts spacing between elements */
  white-space: nowrap; /* Prevents text wrapping */
}
.jobTitle1 {
  margin-top: 12px;
  font-size: 32px;
  font-weight: bold;
  color: #ddd5e8;
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin-right: 10px;

  @media (max-width: 900px) {
    font-size: 24px;
  }

  @media (max-width: 768px) {
    font-size: 24px;
  }
}
.jobTitle2 {
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
  color: #7f45cf;
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin-right: 10px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
.jobTitle3 {
  margin-top: 24px;
  font-size: 32px;
  font-weight: bold;
  color: #ddd5e8;
  position: relative;
  font-family: "Poppins", serif;
  margin-right: 10px;
  text-align: left;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.jobTitle {
  margin-top: 16px;
  margin-right: 10px;
  font-size: 32px;
  font-weight: bold;
  color: #b784f4;
  position: relative;
  font-family: "Montserrat", sans-serif;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.socialContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;

  @media (max-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
    width: 100%;
  }
}

.socialButton {
  background: transparent;
  border: none;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.95);
  }

  @media (max-width: 768px) {
    padding: 16px;
  }
}

// /* Typing effect cursor */
// @keyframes blinkCursor {
//   50% { opacity: 0; }
// }

// .jobTitle::after {
//   content: "|";
//   font-size: 1.8rem;
//   color: #b784f4;
//   animation: blinkCursor 1s step-end infinite;
// }
